@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: fixed url('../img/app-background.png') center/cover no-repeat;

}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.text-subtle {
  color: #aaaaaa;
}

.section-header-padding {
  padding: 0 12px 0 12px;
}

.main-content {
  background-color: #000000e6;
  max-width: 85dvw;
}

.fade-in {
  animation: fade-in 0.65s ease forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}